$sun-diameter: 530px;

.vertical {
   position: absolute;
   width: 0px;
   height: 100%;
   left: 50%;
   top: 0px;
   opacity: 0.1;
   border: 1px solid #42567a;
}

.horizontal {
   position: absolute;
   width: calc(100vw - 10% - 10% - 3px);
   height: 0px;
   left: 10%;
   top: 50%;
   opacity: 0.1;
   border: 1px solid #42567a;
}

.circle {
   box-sizing: border-box;
   position: absolute;
   width: $sun-diameter;
   height: $sun-diameter;
   left: calc(50% - ($sun-diameter / 2));
   top: calc(50% - ($sun-diameter / 2));
   opacity: 0.2;
   border: 1px solid #42567a;
   border-radius: 50%;
}

.gradient {
   position: absolute;
   width: 5px;
   height: 120px;
   left: 10%;
   top: calc(50% - (176px + 134px));
   background: linear-gradient(0deg, #ef5da8, #3877ee);
}

.button_right:hover {
   background-color: #ffffffff;
}

.button_left:hover {
   background-color: #ffffffff;
}

.button_right {
   position: absolute;
   width: 25px;
   height: 25px;
   padding: 11.5px;
   left: calc(10% + 78px + 70px);
   top: 735px;
   content: url(../img/arrow_right-transformed.png);
   cursor: pointer;
   border: 1px solid rgba(66, 86, 122, 0.5);
   border-radius: 50%;
}

.line_right {
   position: absolute;
   width: 0px;
   height: 100vh;
   right: 10%;
   top: 0px;
   opacity: 0.1;
   border: 1px solid #42567a;
}

.line_left {
   position: absolute;
   width: 0px;
   height: 100vh;
   left: 10%;
   top: 0px;
   opacity: 0.1;
   border: 1px solid #42567a;
}

.button_left {
   position: absolute;
   width: 25px;
   height: 25px;
   padding: 11.5px;
   left: calc(10% + 78px);
   top: 735px;
   content: url(../img/arrow_left-transformed.png);
   cursor: pointer;
   border: 1px solid rgba(66, 86, 122, 0.5);
   border-radius: 50%;
}
